
  .main-header {
    background-color: #FE8001;
    color: white;
    text-transform: capitalize;
    min-height: 80px;
    text-align: center;
    width: 100%;
    position: relative;
    justify-content: center;
  }

  .asd {
    text-align: center;
  }

  .main-footer {
    background-color: #FE8001;
    color: white;
    font-size: 15px;
    bottom: 0px;
    position:fixed;
    width: 100%;
    justify-content: space-between;
  }

  .main-header-text {
    padding-top: 25px;
    font-size: 35px;
    letter-spacing: 7px;
  }

  div.inline { 
    float:left;
    margin-right: 12%;
  }
  
  .leftmost {
    float: left;
    margin-right: 0;
  }