<div class="main-header">
    <app-loginmodal></app-loginmodal>
    <h1 class="main-header-text">ORAFOR</h1>
    <app-tab-component></app-tab-component>
</div>

<title>
  ORAFOR
</title>


<div class="content" role="main">
  <app-view-toggle></app-view-toggle>
</div>

<div class="main-footer">
  <div class="inline">Creators: </div>
  <div class="inline">Mr. Devops: Komáromi Richárd</div>
  <div class="inline">Mr. Backend: Láber Attila</div>
  <div class="inline">Mr. Frontend: Sára Márk</div>
  <div class="leftmost">Mr. Fourth: Petrik Dávid</div>
</div>



<router-outlet></router-outlet>