<div class="nav-button-div">
    <button class="nav-button" (click)="showProfile()" mat-button>Profile</button>
    <br/>
    <button class="nav-button" (click)="showRecipes()" mat-button>Recipes</button>
</div>