<div class="login-button-div">
    <button class="login-button" (click)="buttonAction(content)" mat-button>{{buttonText}}</button>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h1>
        Login
      </h1>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div>
          <label class="login-error-message" [hidden]="!loginFailed">Wrong username or password!</label>
        </div>
        <div class="form-group">
          <label>Username: </label>
            <div class="modal-field">
                <input [(ngModel)]="userName" name="userName" class="modal-field"/>
            </div>
            <label>Password: </label>
            <div class="input-group">
                <input [(ngModel)]="password" name="password"/>
            </div>
        </div>
        <button (click)="doLoginAction()">Login</button>
      </form>
    </div>
</ng-template>