.login-button-div {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    padding: 2.5px 2.5px 0 0;
}

.login-button {
    border: 0.5px solid white ;
    min-width: 90px;
}

.modal-field {
    margin-bottom: 10px;
}

label {
    margin-bottom: 0px;
}

.modal-header {
    padding-bottom: 0;
}

.close {
    padding-bottom: 25px;
}