<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef='recipeName'>
    <th mat-header-cell *matHeaderCellDef> Recipe Name </th>
    <td mat-cell *matCellDef="let recipe"> {{recipe.name}} </td>
  </ng-container>

  <ng-container matColumnDef='difficulty'>
    <th mat-header-cell *matHeaderCellDef> Difficulty </th>
    <td mat-cell *matCellDef="let recipe"> {{recipe.difficulty}} </td>
  </ng-container>

  <ng-container matColumnDef='votes'>
    <th mat-header-cell *matHeaderCellDef> Votes </th>
    <td mat-cell *matCellDef="let recipe"> {{recipe.votes}} </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>




<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Recipe name</label>
        <div class="input-group">
          <input [(ngModel)]="modalRecipeName" name="modalRecipeName" [readonly]="true" class="modal-field"/>
        </div>
        <label>Instructions</label>
        <div class="input-group">
          <textarea [(ngModel)]="modalRecipeIstructions" name="modalRecipeIstructions" [readonly]="true" class="modal-field" rows="15"></textarea>
        </div>
        <label>Difficulty: {{modalRecipeDifficulty}}</label>
      </div>
    </form>
  </div>
</ng-template>