.add-recipe-button {
    position: relative;
    float: right;
    width: 200px;
    height: 65px;
    background-color: #FE8001;
    color: white;
    font-size: 24px;    
}

.modal-field {
    width: 100%;
    margin-bottom: 30px;
}