<button class="add-recipe-button" (click)="open(content)">Add new recipe</button>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new recipe</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Recipe name</label>
          <div class="input-group">
            <input [(ngModel)]="recipeName" name="recipeName" id="recipeName" class="modal-field" placeholder="Palacsinta"/>
          </div>
          <label>Instructions</label>
          <div class="input-group">
            <textarea [(ngModel)]="recipeSteps" rows="15" name="recipeSteps" class="modal-field" placeholder="Very difficult"></textarea>
          </div>
          <label>Difficulty (1-10)</label>
          <br/>
            <input
                name="difficulty"
                mdInput
                type="number"
                id="myNumber"
                min=1
                max=10
                [(ngModel)]="difficulty"
            />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button [disabled]="recipeName === '' || recipeSteps === '' || difficulty < 1 || difficulty > 10" type="button" class="btn btn-outline-dark" (click)="modal.close({recipeName: recipeName, recipeSteps: recipeSteps, difficulty: difficulty})">Save</button>
    </div>
</ng-template>